<div class="sm-content" class="ember-application">
		<div class="sm-patientinbox-title">
 		<h3>Messages</h3>
		</div><br>
	<div class= "main content">
	<div id="categoriesanddate" class="container-fluid">
	<div class="row" id="cm-date">
		<div class="col-sm-4">
		 Today, {{format-date today}}
		</div>
		<div class="col-sm-4">
			<select class="form-control">
    			<option value="one">View by date recieved</option>
    			<option value="two">View by red</option>
    			<option value="three">View by red</option>
			</select>
		</div>
		<div class="col-sm-4">
			<button type="button" class="btn btn-full btn-primary" data-ember-action="456">Send a new message</button>
		</div>
		
	</div>
	</div>		
	</div>
</div>
